<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /*
  ~ Copyright 2023 Talkweb Co., Ltd.
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU Lesser General Public
  ~ License as published by the Free Software Foundation; either
  ~ version 3 of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License
  ~ along with this program; if not, write to the Free Software Foundation,
  ~ Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
  ~ */
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devops.plugins.core.dao.AppServiceDeployHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.devops.plugins.core.dao.entity.AppServiceDeployHistoryEntity">
        <id column="id" property="id"/>
        <result column="app_service_id" property="appServiceId" />
        <result column="sub_app_service_id" property="subAppServiceId" />
        <result column="status" property="status" />
        <result column="region_code" property="regionCode" />
        <result column="team_code" property="teamCode" />
        <result column="component_code" property="componentCode" />
        <result column="app_service_version" property="appServiceVersion" />
        <result column="description" property="description" />
        <result column="deploy_info_url" property="deployInfoUrl" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        app_service_id,
        description,
        region_code,
        team_code,
        component_code,
        deploy_info_url,
        sub_app_service_id,
        status,
        app_service_version,
        create_by,
        create_time,
        update_by,
        update_time,
        del_flag,
        version
    </sql>

    <!-- 通用查询条件 -->
	<sql id="whereParam">
		<where>
            <if test="query.appServiceId != null ">
                and appServiceDeployHistory.app_service_id = #{query.appServiceId}
            </if>
            <if test="query.regionCode != null ">
                and appServiceDeployHistory.region_code = #{query.regionCode}
            </if>
            <if test="query.subService != null ">
                and appServiceDeployHistory.app_service_version like CONCAT('%',#{query.subService},'%')
            </if>
		</where>
	</sql>

	<!-- 通用更新判断 -->
	<sql id="updateSelective">
	    <set>
            <if test="entity.appServiceId!=null">
                app_service_id = #{entity.appServiceId},
            </if>
            <if test="entity.status!=null">
                status = #{entity.status},
            </if>
            <if test="entity.appServiceVersion!=null">
                app_service_version = #{entity.appServiceVersion},
            </if>
            <if test="entity.createBy!=null">
                create_by = #{entity.createBy},
            </if>
            <if test="entity.createTime!=null">
                create_time = #{entity.createTime},
            </if>
            <if test="entity.updateBy!=null">
                update_by = #{entity.updateBy},
            </if>
            <if test="entity.updateTime!=null">
                update_time = #{entity.updateTime},
            </if>
            <if test="entity.delFlag!=null">
                del_flag = #{entity.delFlag},
            </if>
            <if test="entity.version!=null">
                version = #{entity.version},
            </if>
        </set>
    </sql>

    <!-- 统计 -->
	<select id="findCount" parameterType="com.devops.plugins.core.dao.entity.AppServiceDeployHistoryEntity" resultType="long">
		select count(*) as c from devops_app_service_deploy_history as appServiceDeployHistory
		<include refid="whereParam"></include>
	</select>

    <!-- 分页 -->
	<select id="findPage" parameterType="com.baomidou.mybatisplus.extension.plugins.pagination.Page" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"></include>
		from
		devops_app_service_deploy_history as appServiceDeployHistory
		<include refid="whereParam"></include>
		order by appServiceDeployHistory.create_time desc
	</select>

    <!-- 列表 -->
	<select id="findList"
		parameterType="com.devops.plugins.core.dao.entity.AppServiceDeployHistoryEntity" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"></include>
		from
		devops_app_service_deploy_history as appServiceDeployHistory
		<include refid="whereParam"></include>
		order by appServiceDeployHistory.create_time desc
	</select>

	<!-- 根据id动态更新传入了值的字段 -->
	<update id="updateByPrimaryKeySelective">
	    update devops_app_service_deploy_history
        <include refid="updateSelective"></include>
        where id=#{entity.id}
	</update>

</mapper>
