<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /*
  ~ Copyright 2023 Talkweb Co., Ltd.
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU Lesser General Public
  ~ License as published by the Free Software Foundation; either
  ~ version 3 of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License
  ~ along with this program; if not, write to the Free Software Foundation,
  ~ Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
  ~ */
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devops.plugins.core.dao.AppServicePipelineJobMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.devops.plugins.core.dao.entity.AppServicePipelineJobEntity">
	    <result column="id" property="id" />
        <result column="pipeline_id" property="pipelineId" />
        <result column="job_id" property="jobId" />
        <result column="stage" property="stage" />
        <result column="status" property="status" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="version" property="version" />
        <result column="url" property="url" />
        <result column="name" property="name" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        pipeline_id,
        job_id,
        `name`,
        url,
        stage,
        status,
        start_time,
        end_time,
        create_by,
        create_time,
        update_by,
        update_time,
        del_flag,
        version
    </sql>

    <!-- 通用查询条件 -->
	<sql id="whereParam">
		<where>
			<if test="query.id != null ">
				and appServicePipelineJob.id = #{query.id}
			</if>
		</where>
	</sql>

	<!-- 通用更新判断 -->
	<sql id="updateSelective">
	    <set>
            <if test="entity.pipelineId!=null">
                pipeline_id = #{entity.pipelineId},
            </if>
            <if test="entity.jobId!=null">
                job_id = #{entity.jobId},
            </if>
            <if test="entity.stage!=null">
                stage = #{entity.stage},
            </if>
            <if test="entity.status!=null">
                status = #{entity.status},
            </if>
            <if test="entity.startTime!=null">
                start_time = #{entity.startTime},
            </if>
            <if test="entity.endTime!=null">
                end_time = #{entity.endTime},
            </if>
            <if test="entity.createBy!=null">
                create_by = #{entity.createBy},
            </if>
            <if test="entity.createTime!=null">
                create_time = #{entity.createTime},
            </if>
            <if test="entity.updateBy!=null">
                update_by = #{entity.updateBy},
            </if>
            <if test="entity.updateTime!=null">
                update_time = #{entity.updateTime},
            </if>
            <if test="entity.delFlag!=null">
                del_flag = #{entity.delFlag},
            </if>
            <if test="entity.version!=null">
                version = #{entity.version},
            </if>
            <if test="entity.name!=null">
                `name` = #{entity.name},
            </if>
            <if test="entity.url!=null">
                url = #{entity.url},
            </if>
        </set>
    </sql>

    <!-- 统计 -->
	<select id="findCount" parameterType="com.devops.plugins.core.dao.entity.AppServicePipelineJobEntity" resultType="long">
		select count(*) as c from devops_app_service_pipeline_job as appServicePipelineJob
		<include refid="whereParam"></include>
	</select>

    <!-- 分页 -->
	<select id="findPage" parameterType="com.baomidou.mybatisplus.extension.plugins.pagination.Page" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"></include>
		from
		devops_app_service_pipeline_job as appServicePipelineJob
		<include refid="whereParam"></include>
		order by appServicePipelineJob.create_time desc
	</select>

    <!-- 列表 -->
	<select id="findList"
		parameterType="com.devops.plugins.core.dao.entity.AppServicePipelineJobEntity" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"></include>
		from
		devops_app_service_pipeline_job as appServicePipelineJob
		<include refid="whereParam"></include>
		order by appServicePipelineJob.create_time desc
	</select>

	<!-- 根据id动态更新传入了值的字段 -->
	<update id="updateByPrimaryKeySelective">
	    update devops_app_service_pipeline_job
        <include refid="updateSelective"></include>
        where id=#{entity.id}
	</update>
</mapper>
